@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground-main: #24272d;
    --foreground-50: #A8B5C6;
    --foreground-100: #626C85;
    --foreground-200: #384464;
    --primary-main: #108A00;
    --primary-50: #DFFFE4;
    --primary-100: #46B546;
    --primary-200: #158015;
    --error-main: #ff3b3b;
    --error-50: #ff8080;
    --error-100: #ff5c5c;
    --error-200: #es3535;
    --warning-main: #ffcc00;
    --warning-50: #fded72;
    --warning-100: #fddd48;
    --warning-200: #e5b800;
    --info-main: #0063f7;
    --info-50: #E7F0FA;
    --info-100: #5b8def;
    --info-200: #004fc4;
    --success-main: #06c270;
    --success-50: #57eba1;
    --success-100: #39d98a;
    --success-200: #05a660;
    --dark-100: #D9D9D9;
    --dark-200: #B0AEAE;
    --dark-300: #676767;
    --dark-400: #161616;
    --light-100: #FAFAFC;
    --light-200: #F2F2F5;
    --light-300: #EBEBF0;
    --light-400: #DDE5E9;
}

@layer base {
    html {
        scroll-behavior: smooth !important;
    }

    body {
        color: var(--foreground-main);
        background-color: var(--background);
        font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
    }

    html[lang="ar"] body {
        font-family: var(--font-tajawal), Arial, Helvetica, sans-serif;
    }

    a {
        width: fit-content;
    }
}
